<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  </head>
  <body>
    <form action="/users" method="post">
      <label>First Name
        <input type="text" name="firstName" value="<%= locals.firstName %>" />
      </label>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
